language: node_js
sudo: false
node_js:
  - "8"
install:
  - npm install
script:
  - npm test
branches:
  only:
    - develop
    - master
before_install:
  - printf "//registry.npmjs.org/:_authToken=${NPM_TOKEN}\n" >> .npmrc
after_success:
  - test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "master" && npm publish
